#app{
    padding:0 5vw;
    min-height:100vh;
    width:100vw;
    display:flex;
    flex-direction:column;
    justify-content:center ;
    align-items:center ;
    gap:10px;
}
ul{ 
    position:relative ;   
    width:100%;
    display:flex;
    gap:10px;
    justify-content:flex-start;
    overflow-x:scroll ;
    scroll-snap-type:x mandatory;
    scroll-snap-stop: always;
}
ul li{
    padding:10px;
    min-height:40vh;
    min-width:calc(90vw);
    display:flex;
    flex-direction:column;
    justify-content:center ;
    align-items:center ;
    gap:10px;
    color:#fff;
    text-align:center ; background:linear-gradient(to right,rgb(146 234 255 / 75%) 17%, rgb(249 145 251 / 86%) 100%);
    border-radius:5px;
    scroll-snap-align:start;
    scroll-snap-stop: always;
}
ul li:nth-child(even){
    color:#fff;    background:linear-gradient(to left,rgb(146 234 255 / 75%) 17%, rgb(249 145 251 / 86%) 100%);
}

input,select{
  min-width: 100px;
  padding: 5px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border:none;
  outline: none;
  color:#fff;
  background: transparent;
  box-shadow: 0 0 0 2px #fff;
  border-radius: 4px;
  transition: 0.5s;
}

.btns{
    margin-top:50px;
    display:flex;
    justify-content:center ;
    align-items:center ;
    gap:10px;
}

.as_btn{
    background:#fff;
    border:2px solid #fff;
}
.as_btn::before{
    background:#fff;
}
.as_btn a{
    color:var(--cl);
    display:flex;
    justify-content:center ;
    align-items:center ;
    gap:5px;
}
.as_btn:nth-child(1){
    background:transparent ;
}
.as_btn:nth-child(1) a{
    color:#fff;
}